*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

header {
    padding: 60;
    background-color: white;
}

nav{

   display: flex;
   justify-content: space-between  ;
   max-width: 1700px;
   margin: auto;
   padding: 20px 30px;
   align-items: center;
}

ul{
    background-color: white;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    font-weight: 350;
    
    
}

ul li a {
    text-decoration: none;
    color: black;
   
}

.common-btn {
    background: #1D4ED8;
    padding: 14px 32px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;

}

.hero{
    background-color: aqua;
    width:100%;
    height:786px;
    background-image:url("./assets/banner.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;

}
.message{

    position:relative;
    text-align:center;
    color:white;
    width:70%;
}
.message h1{
    font-size:80px;
    font-weight:650;
    margin-bottom:30px;
    line-height:1.1;
}
.message p{
    font-size:28px;
    width:70%;
    margin:auto;
    line-height:1.6;
    margin-bottom:300px;
}
.B1{
    background: #1D4ED8;
    padding: 34px 52px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    border: none;


}

.hero::before{

    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.55);

}

/* Speakers Section */

.info{

    padding:100px 8%;

    background:#ffffff;
    

}

/* Heading */

.info h2{

    text-align:center;

    font-size:60px;

    font-weight:800;

    margin-bottom:60px;

}

/* Grid */

.info-container{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:35px;

}

/* Card */

.card{

    background:#fff;

    border:1px solid #e5e5e5;

    border-radius:12px;

    overflow:hidden;

    transition:.3s;

}


/* Image */

.card img{

    width:100%;

    height:320px;

    object-fit:cover;

}

/* Text */

.card-content{

    padding:25px;

}

/* Category */

.category{

    color:#2f5cff;

    font-size:14px;

    font-weight:700;

    text-transform:uppercase;

    margin-bottom:10px;

}

/* Name */

.card-content h3{

    font-size:34px;

    margin-bottom:12px;

}

/* Position */

.position{

    color:#666;

    font-size:18px;

    line-height:1.5;

}